.icon1{
   margin-left: 30%; 
}

#search{
background-image:url(https://img.icons8.com/android/24/000000/search.png);
background-size:5%;
background-repeat: no-repeat;
background-position-y:50%;
text-indent: 30px;
border-radius:10%;
height:35px;
width: 400px;
}

button{

background-color:rgb(255, 255, 255);
}

.nav:hover{
    text-decoration: underline;
}

.nav{
    text-decoration: none;
    color: black;
}

.sign_in:hover{
    background-color: rgb(48, 143, 252);
}

.sign_in{
    height: 40px;
    width: 100px;
    color: white;
    background-color: rgb(0, 119, 255);
    font-size: 18px;
    font-weight:normal;
    border-radius: 10%;
    margin-left: 120px;
    /* margin-bottom:30px; */
    
    
}

.navbar{
 display: grid;
 grid-template-columns:80px 100px 100px 100px auto ;
 grid-template-rows: 20px;   
background-color: aquamarine;
/* grid-template-areas: "a b c d e f"; */
}


.b{
margin-left: 1000px;
}


/*Finish setting up the grid for the navbar */